// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main,
#footer { display: none; }

#todoapp {
  &.has_todos #main,
  &.has_todos #footer { display: inherit; }

  #footer {
    a.all { font-weight: bold; }
  }

  &.filtered.active {
    #todo-list li.completed { display: none; }

    #footer {
      a.all { font-weight: normal; }
      a.active { font-weight: bold; }
    }
  }

  &.filtered.completed {
    #todo-list li:not(.completed) { display: none; }

    #footer {
      a.all { font-weight: normal; }
      a.completed { font-weight: bold; }
    }
  }
}
